
body {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100vh;
	width: 100%;
	background-image: url(../images/pokemon-background.png);
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.logo {
	/*text-align: center;*/
}

.logo img {
	max-width: 600px;
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%);
}

.pokemon {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%);
}

.pokemon img {
	width: 100px;
}

#start-btn {
	position: absolute;
	bottom: 46%;
	left: 50%;
	transform: translate(-50%);
	width: 400px;
	height: 80px;
	font-size: 30px;
}

#instructions {
	position: absolute;
	bottom: 35%;
	left: 50%;
	transform: translate(-50%);
	width: 400px;
	height: 80px;
	font-size: 30px;
}

#dialog-rounded-instructions, #dialog-rounded-credits{
	text-align: center;
	width: 600px;
}

#credits {
	position: absolute;
	bottom: 24%;
	left: 50%;
	transform: translate(-50%);
	width: 400px;
	height: 80px;
	font-size: 30px;
}

.dialog-menu {
	padding: 0;
	margin: 10px 0 0 0;
}

.title {
	font-size: 22px;
}

.instruct-container {
	display: flex;
	flex-direction: row;
}

.emoji {
	width: 20%;
	font-size: 40px;
}

.writeup {
	width: 80%;
}